body {
    margin: 0;
}

.carousel {
    margin: 100px;
    position: relative;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
    text-align: center;
}

.navBar .navDot {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    border: #5F5F5F 1px solid;
    cursor: pointer;
}

.navBar div i {
    color: #5F5F5F;
    font-size: 1.5vw;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border: white 1px solid;
    transition: all linear 0.3s;
}

.navBar div i:hover{
    border: #5F5F5F 1px solid;
}

img {
    width: 100%;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.arrowBar {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;

}

.arrow {
    background-color: rgba(81, 81, 81, 0.4);
    color: rgba(134, 134, 139, 0.8);
    font-weight: 600;
    font-size: 25px;
    transition: all linear 0.3s;
    padding: 1vh 2vw;
}

.arrow:hover {
    cursor: pointer;
    background-color: #5F5F5F;
    color: #FFFFFF;
}
