.nav{
    border:1px solid red;
    margin:15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.menuItem{
    border:1px solid blue;
    margin: 20px;
    padding: 5px;

}

.mobileItem{
    border:1px solid blue;
    margin: 20px;
    padding: 5px;
}

@media only screen and (min-width:750px){
    .mobileItem{
        display:none;
    }
    .nav{
        background-color: gray;
    }
}

@media only screen and (max-width:750px){
    .menuItem{
        display:none;
    }
    .nav{
        background-color: gray;
    }
}